# Basics
numpy
pandas
matplotlib
seaborn
plotly

# Yahoo Finance
requests
yfinance

# Delta Lake
deltalake
pyarrow
delta-spark

# DuckDB
duckdb

# Machine Learning
tensorflow
scikit-learn
xgboost
pmdarima

# MongoDB
pymongo

# EDGAR
edgartools

# Others
nasdaq-data-link

# Streamlit
streamlit