# Basics
numpy
pandas
matplotlib
seaborn

# Yahoo Finance
requests
yfinance

# Delta Lake
deltalake
pyarrow
delta-spark

# DuckDB
duckdb

# Machine Learning
tensorflow
scikit-learn

# MongoDB
pymongo
